.movie-detail {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-blend-mode: saturation;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: flex;
}

.movie-image {
    width: 400px;
    object-fit: contain;
    border-radius: 50px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.movie-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.movie-information {
    margin: 20px;
}

.infos {
    display: flex;
    margin: 0 0 2% 0;
}

.release-date, .genres, .duree {
    margin: 0;
}

.note {
    font-size: 1.5rem;
    margin: 10px 0;
}

.button-container {
    margin-top: 20px;
}

.wishlist-detail {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #032541;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.acteur-liste {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.acteur {
    width: 100px;
    text-align: center;
}

.similar-title {
    margin-top: 20px;
    font-size: 1.5rem;
}

.similar-movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
}

.acteur img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.wishlist {
    width: 20%;
    margin: 2% 0;
}

.small {
    width: 20%;
}