.movie-detail {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 130vh;
    background-blend-mode: saturation;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: flex;
}


.movie-image {
    width: 400px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    margin: 2% 0 0 20px;
    align-self: start;
}

.movie-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.movie-information {
    margin: 20px;
}

.infos {
    display: flex;
    gap: 10px;
}

.release-date, .genres, .duree {
    margin: 0;
}

.note {
    font-size: 1.5rem;
    margin: 10px 0;
}

.button-container {
    margin-top: 20px;
}

.wishlist-detail {
    display: flex;
    justify-content: center;
}

.wishlist-detail .button {
    border: none;
    background: linear-gradient(to right, #c0fecf 0, #1ed5a9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;
}

.movie-information .button-container {
    display: flex;
    justify-content: center;
    background-color: #032541;
    border-radius: 100px;
    cursor: pointer;
    width: 20%;
}

.movie-information p {
    color: #fff;
}

.acteur-liste {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.acteur {
    width: 100px;
    text-align: center;
}

.acteur-image {
    width: 100%;
    border-radius: 10px;
}


.similar-title {
    margin-top: 20px;
    font-size: 1.5rem;
}

.similar-movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.similar-movie {
    width: 150px;
    text-align: center;
}

.similar-movie-image {
    width: 100%;
    border-radius: 10px;
}

.similar-movie-name {
    margin-top: 10px;
}

.trailer {
    display: block;
    margin: 2%;
    flex-direction: column;
}

.button {
    cursor: pointer;
}