.wishlist {
    display: block;
    margin: auto 0;
    width: 100%;
}

.wishlist h2 {
    margin: 2%;
}

.wishlist ul {
    list-style: none;
    padding: 0;
}

.wishlist li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.wishlist h3 {
    width: 100%;
}

.wishlist img {
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.wishlist button {
    background: linear-gradient(45deg, #f44336, #d32f2f);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
}

.wishlist button:hover {
    background-color: #d32f2f;
}