@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


li {
    list-style-type: none;
}

.movie-card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.movie-card img {
    display: block;
    margin: 0 auto;
    width: 200px;
    object-fit: contain;
    border-radius: 15px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.movie-card h3 {
    width: 200px;
    font-size: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    background-color: #032541;
    border-radius: 100px;
    cursor: pointer;
}

.button {
    width: 100%;
    border: none;
    background: linear-gradient(to right, #c0fecf 0, #1ed5a9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 10px 0;

}
